Source: autossh-init
Section: net
Priority: extra
Maintainer: Felix C. Stegerman <flx@obfusk.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/obfusk/autossh-init
Vcs-Git: https://github.com/obfusk/autossh-init.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/autossh-init.git;a=summary

Package: autossh-init
Architecture: all
Depends: autossh ${misc:Depends}
Description: Init script to start autossh automatically
 Configurable AutoSSH init script, starts autossh automatically at boot time.
