Source: autossh-init
Section: system
Priority: extra
Maintainer: Felix C. Stegerman <flx@obfusk.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/obfusk/autossh-init
Vcs-Git: https://github.com/obfusk/autossh-init.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/autossh-init.git;a=summary

Package: autossh-init
Architecture: all
Depends: autossh ${misc:Depends}
Description: autossh-init
 autossh-init - AutoSSH init script
